<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="selectCompany">
		SELECT POSTBOX_COMPANY_KEY,POSTBOX_COMPANY_CODE,POSTBOX_COMPANY_NAME
		FROM POSTBOX_COMPANY_LIST
	</entry>
	
	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		FROM PRODUCT_LIST
	</entry>
	
	<entry key="selectViewList">
<!-- 	SELECT*
		FROM(
		 SELECT ROWNUM RNUM,A.*
		 FROM
		    (
		    SELECT PRO.PRODUCT_NO, PRO.PRODUCT_TITLE, PRO.PRODUCT_CONTENT, PRO.PRODUCT_PRICE, PRO.PRODUCT_ENTERDATE, ML.USER_NAME,ML.USER_NO ,PRO.PRODUCT_PICK, PRO.PRODUCT_VIEWS
		    FROM PRODUCT_LIST PRO
            JOIN PURCHASE_LIST PL ON(PRO.PRODUCT_NO=PL.PRODUCT_NO)
            JOIN MEMBER_LIST ML ON(PL.USER_NO=ML.USER_NO)
		    WHERE PRODUCT_STATUS = 'Y'
		    AND PRODUCT_SELL_STATUS = 'Y'
		    ORDER BY PRODUCT_ENTERDATE DESC
		    ) A
		)	
		WHERE RNUM BETWEEN ? AND ?  -->
		SELECT*
		FROM(
		 SELECT ROWNUM RNUM,A.*
		 FROM
		    (
		    SELECT PRO.PRODUCT_NO, PRO.PRODUCT_TITLE, PRO.PRODUCT_CONTENT, PRO.PRODUCT_PRICE, PRO.PRODUCT_ENTERDATE, ML.USER_NAME,ML.USER_NO ,PRO.PRODUCT_PICK, PRO.PRODUCT_VIEWS, FILE_PATH || FILE_CHANGE_NAME "TITLEIMG"
		    FROM PRODUCT_LIST PRO
            JOIN PURCHASE_LIST PL ON(PRO.PRODUCT_NO=PL.PRODUCT_NO)
            JOIN MEMBER_LIST ML ON(PL.USER_NO=ML.USER_NO)
            JOIN PRODUCT_FILE_LIST PEL ON(PRO.PRODUCT_NO=PEL.PRODUCT_NO)
		    WHERE PRODUCT_STATUS = 'Y'
		    AND PRODUCT_SELL_STATUS = 'N'
            AND PRO.PRODUCT_NO = PEL.PRODUCT_NO
            AND PRO.USER_NO = ?
            AND NOT EXISTS (SELECT PRODUCT_NO FROM POSTBOX_NUMBER_LIST PNL WHERE PRO.PRODUCT_NO=PNL.PRODUCT_NO)
		    ORDER BY PRODUCT_ENTERDATE DESC
		    ) A
		)	
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectImageList">
		SELECT PEL.PRODUCT_NO, FILE_PATH || FILE_CHANGE_NAME "TITLEIMG"
		FROM PRODUCT_FILE_LIST PEL
		JOIN PRODUCT_LIST PL ON (PEL.PRODUCT_NO = PL.PRODUCT_NO)
		WHERE PEL.PRODUCT_NO = ?
		AND FILE_LEVEL = 1
	</entry>
	
	<entry key="selectRegisterProduct">
		SELECT*
		FROM(
		 SELECT ROWNUM RNUM,A.*
		 FROM
		    (
		    SELECT PRO.PRODUCT_NO, PRO.PRODUCT_TITLE, PRO.PRODUCT_CONTENT, PRO.PRODUCT_PRICE, PRO.PRODUCT_ENTERDATE, ML.USER_NAME,ML.USER_NO ,PRO.PRODUCT_PICK, PRO.PRODUCT_VIEWS, FILE_PATH || FILE_CHANGE_NAME "TITLEIMG"
		    FROM PRODUCT_LIST PRO
            JOIN PURCHASE_LIST PL ON(PRO.PRODUCT_NO=PL.PRODUCT_NO)
            JOIN MEMBER_LIST ML ON(PL.USER_NO=ML.USER_NO)
            JOIN PRODUCT_FILE_LIST PEL ON(PRO.PRODUCT_NO=PEL.PRODUCT_NO)
		    WHERE PRODUCT_STATUS = 'Y'
		    AND PRODUCT_SELL_STATUS = 'N'
            AND PRO.PRODUCT_NO = PEL.PRODUCT_NO
            AND PRO.PRODUCT_NO = ?
            
		    ORDER BY PRODUCT_ENTERDATE DESC
		    ) A
        )
	</entry>
	
	<entry key="InsertTracking">
		INSERT INTO POSTBOX_NUMBER_LIST (POSTBOX_NUMBER_NO, POSTBOX_NUMBER, PRODUCT_NO, USER_NO, POSTBOX_COMPANY_NAME)
		VALUES (SEQ_PONO.NEXTVAL, ?, ?, ?, ?)
	</entry>
	
	<entry key="InsertPurchase">
		INSERT INTO PURCHASE_LIST(PRODUCT_NO, USER_NO)
		VALUES (?,?)
	</entry>
	
	<entry key="selectProductNo">
		SELECT PRODUCT_NO FROM PRODUCT_LIST WHERE PRODUCT_TITLE = ?
	</entry>
	
	<entry key="selectTrackingListCount">
		SELECT COUNT(*) COUNT FROM POSTBOX_NUMBER_LIST
	</entry>
	
	<entry key="selectTrackingImageList">
		SELECT PEL.PRODUCT_NO, FILE_PATH || FILE_CHANGE_NAME "TITLEIMG"
		FROM PRODUCT_FILE_LIST PEL
		JOIN PRODUCT_LIST PL ON (PEL.PRODUCT_NO = PL.PRODUCT_NO)
        JOIN POSTBOX_NUMBER_LIST PNL ON (PNL.PRODUCT_NO = PL.PRODUCT_NO)
		WHERE PEL.PRODUCT_NO = ?
		AND FILE_LEVEL = 1
	</entry>
	
	<entry key="selectTrackingViewList">
<!-- 		SELECT* -->
<!-- 		FROM( -->
<!-- 		 SELECT ROWNUM RNUM,A.* -->
<!-- 		 FROM -->
<!-- 		    ( -->
<!-- 		    SELECT PRO.PRODUCT_NO, PRO.PRODUCT_TITLE, PRO.PRODUCT_CONTENT, PRO.PRODUCT_PRICE, PRO.PRODUCT_ENTERDATE, ML.USER_NAME,ML.USER_NO ,PRO.PRODUCT_PICK, PRO.PRODUCT_VIEWS, FILE_PATH || FILE_CHANGE_NAME "TITLEIMG" -->
<!-- 		    FROM PRODUCT_LIST PRO -->
<!--             JOIN PURCHASE_LIST PL ON(PRO.PRODUCT_NO=PL.PRODUCT_NO) -->
<!--             JOIN MEMBER_LIST ML ON(PL.USER_NO=ML.USER_NO) -->
<!--             JOIN PRODUCT_FILE_LIST PEL ON(PRO.PRODUCT_NO=PEL.PRODUCT_NO) -->
<!--             JOIN POSTBOX_NUMBER_LIST PNL ON(PNL.PRODUCT_NO=PL.PRODUCT_NO) -->
<!-- 		    WHERE PRODUCT_STATUS = 'Y' -->
<!-- 		    AND PRODUCT_SELL_STATUS = 'Y' -->
<!--             AND PRO.PRODUCT_NO = PEL.PRODUCT_NO -->
<!-- 		    ORDER BY PRODUCT_ENTERDATE DESC -->
<!-- 		    ) A -->
<!-- 		)	 -->
<!-- 		WHERE RNUM BETWEEN ? AND ? -->
		SELECT*
		FROM(
		 SELECT ROWNUM RNUM,A.*
		 FROM
		    (
		    SELECT PRO.PRODUCT_NO, PRO.PRODUCT_TITLE, PRO.PRODUCT_CONTENT, PRO.PRODUCT_PRICE, PRO.PRODUCT_ENTERDATE, ML.USER_NAME,ML.USER_NO, PNL.POSTBOX_NUMBER, PNL.POSTBOX_COMPANY_NAME, FILE_PATH || FILE_CHANGE_NAME "TITLEIMG"
		    FROM PRODUCT_LIST PRO
            JOIN PURCHASE_LIST PL ON(PRO.PRODUCT_NO=PL.PRODUCT_NO)
            JOIN MEMBER_LIST ML ON(PL.USER_NO=ML.USER_NO)
            JOIN PRODUCT_FILE_LIST PEL ON(PRO.PRODUCT_NO=PEL.PRODUCT_NO)
            JOIN POSTBOX_NUMBER_LIST PNL ON(PNL.PRODUCT_NO=PL.PRODUCT_NO)
		    WHERE PRODUCT_STATUS = 'Y'
		    AND PRODUCT_SELL_STATUS = 'N'
            AND PRO.PRODUCT_NO = PEL.PRODUCT_NO
		    ORDER BY PRODUCT_ENTERDATE DESC
		    ) A
		)	
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectTrackingCompany">
		SELECT POSTBOX_COMPANY_CODE, PCL.POSTBOX_COMPANY_NAME, POSTBOX_NUMBER
		FROM POSTBOX_COMPANY_LIST PCL
		JOIN POSTBOX_NUMBER_LIST PNL ON (PCL.POSTBOX_COMPANY_NAME = PNL.POSTBOX_COMPANY_NAME)
		WHERE POSTBOX_NUMBER = ?
	</entry>
	
	<entry key="selectBuyerNo">
		SELECT PRODUCT_NO,USER_NO FROM PURCHASE_LIST
		WHERE PRODUCT_NO = ?
	</entry>
	
	<entry key="buyerTrackingViewList">
		SELECT*
		FROM(
		 SELECT ROWNUM RNUM,A.*
		 FROM
		    (
		    SELECT PRO.PRODUCT_NO, PRO.PRODUCT_TITLE, PRO.PRODUCT_CONTENT, PRO.PRODUCT_PRICE, PRO.PRODUCT_ENTERDATE, ML.USER_NAME,ML.USER_NO, PNL.POSTBOX_NUMBER, PNL.POSTBOX_COMPANY_NAME, FILE_PATH || FILE_CHANGE_NAME "TITLEIMG"
		    FROM PRODUCT_LIST PRO
            JOIN PURCHASE_LIST PL ON(PRO.PRODUCT_NO=PL.PRODUCT_NO)
            JOIN MEMBER_LIST ML ON(PL.USER_NO=ML.USER_NO)
            JOIN PRODUCT_FILE_LIST PEL ON(PRO.PRODUCT_NO=PEL.PRODUCT_NO)
            JOIN POSTBOX_NUMBER_LIST PNL ON(PNL.PRODUCT_NO=PL.PRODUCT_NO)
		    WHERE PRODUCT_STATUS = 'Y'
		    AND PRODUCT_SELL_STATUS = 'N'
            AND PRO.PRODUCT_NO = PEL.PRODUCT_NO
            AND PL.USER_NO = ?
		    ORDER BY PRODUCT_ENTERDATE DESC
		    ) A
		)	
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="isTherePostNum">
		SELECT PRODUCT_NO
		FROM POSTBOX_NUMBER_LIST
	</entry>
	
</properties>