   table{
        border-collapse: collapse;
    }
    .table tbody tr{
        cursor: pointer;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }
    #outer #purchaseList_content_2 a{
        display: inline-block;
        margin-left:10px;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 0px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        background-color: rgb(64, 228, 132);
    }